* {
    padding: 10px;
    margin: 5px;
    text-align: center;
    font-family: Helvetica, sans-serif;
    line-height: 200%;
    background-color: #2C2B30;
}

h1 {
    font-size: 100px;
    letter-spacing: 5px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    color: #D6D6D6;
}

h2, p, form {
    color:#D6D6D6
}

form {
    text-align: center;
}


table {
    width: 100%;
    border:#2C2B30;
    color: #2C2B30;
    font-weight: bold;
}

th, thead {
    color:#D6D6D6;
    background: #F58F7C;
    font-weight: bold;
}

td{
    background: #F2C4CE;
}